<h1 class="centered">Atualizações de Inventário</h1>

<p class="centered">Para atualizar o inventário, por favor, faça o upload de um arquivo csv: </p>

<%= form_with(url: inventory_updates_path, method: :post, class: 'centered') do |form| %>
  <%= form.file_field :csv_file, required: true, accept: 'text/csv', name: 'csv_file' %>
  <br>
  <br>

  <%= form.submit 'Processar atualização' %>
<% end %>


<% if !@inventory_updates.empty? %>
  <p class="centered">Aqui está uma lista das últimas atualizações:</p>

  <table>
    <tr>
      <th>Data</th>
      <th>Arquivo</th>
      <th>Status</th>
      <th>Menssagem de erro</th>
    </tr>
    <% @inventory_updates.each do |inventory_update| %>
      <tr>
        <td><%= inventory_update.created_at %></td>
        <td><%= link_to 'Download', url_for(inventory_update.csv_file) %></td>
        <td>
          <% if inventory_update.status == 'processing' %>
            Em processamento...
          <% elsif inventory_update.status == 'completed' && inventory_update.processing_error.blank? %>
            Processamento concluido.</td>
          <% else %>
            Erro.
          <% end %>
        <td>
          <% if inventory_update.processing_error == 'unexpected_error' %>
            Um erro inesperado aconteceu, por favor tente mais tarde. <br> <%= link_to 'Retentar processamento.', inventory_update_retry_path(inventory_update), method: :put %>
          <% elsif inventory_update.processing_error == 'invalid_csv' %>
            O arquivo CSV enviado não possui um formato válido.
          <% else %>
            -
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <p class="centered"><b>Atenção: </b>O processamento de uma atualização pode levar alguns minutos, você pode voltar mais tarde ou atualizar a página para conferir o resultado.</p>

<% end %>

