<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to inventory_update_index_path do %>
      <span>Atualizar Inventário</span>
    <% end %>

    <%= link_to smartphones_index_path do %>
      <span>Inventário</span>
    <% end %>

    <%= yield %>
  </body>
</html>
